// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#header {
    width: 100vw;
    height: 60px;
    background-color: #227dc7;
    margin-bottom: 50px;
}

#header img {
    height: 50px;
    margin: 5px 50px;
}

#header h1 {
    width: 100%;
    margin: auto 0px;
    color: white;
    text-transform: uppercase;
}

#memorycard-code {
    background-color: #4aa0e6;
    margin: auto 0px;
    height: 100%;
    color: white;
}

.portrait {
    width: 150px;
    border: 1px solid black;
    margin: 2px;
}

.selected {
    background: turquoise;
}

.unselected {
    opacity: 0.5;
}

.clickable {
    cursor: pointer;
}

#memorycard {
    width: 100%;
    height: 200px;

    border: 2px #3490dc solid;
    border-radius: 2rem;
}
